

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20%;
  
}
.App-header {
  background-color:  rgb(25, 70, 124);
  height: 60px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color:  #ffffff;
  font-weight: 700;
}
.Project {
  text-align: center;
  width: 150px;
} 
.RaccconLogo {
  width: 55px;
  height: 40px;
  margin-left: 20px;
}


.Buttons{
  text-align: center;
  flex-wrap: wrap;
}

.App-footer {
  background-color:  rgb(25, 70, 124);
  height: 60px;
  display: flex;
  align-items: center;
 justify-content: center;

}
.FooterText {
color:  #ffffff;
font-size: 15px;

}

